{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>Shayari....!  | Home </title>
      <!-- Meta Tags -->
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<meta name="keywords" content="Photog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- // Meta Tags -->
      <!--booststrap-->
      <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!--//booststrap end-->
      <!-- font-awesome icons -->
      <link href="{% static 'blog/css/fontawesome-all.css' %}" rel="stylesheet">
      <!-- //font-awesome icons -->
	  <link rel="stylesheet" href="{% static 'blog/css/jquery-ui.css' %}" />

	 <!--stylesheets-->
		<link href="{% static 'blog/css/style.css' %}" rel='stylesheet' type='text/css' media="all">
      <!--//stylesheets-->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700" rel="stylesheet">
	  
   </head>
   <body>

<!--/banner-->
<!-- banner -->
<header>
	<section class="main_section_photile">
		<div class="photileits_phot3layouts_banner_nav">
		
			<div class="header-bar py-sm-2">
				<div class="container py-2">
				<nav class="navbar navbar-expand-lg navbar-light">
               <div class="hedder-up">
               <h1><a class="navbar-brand" href="index.html">Shayari...!</a></h1>
			   </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                   <ul class="navbar-nav">
							 <li class="nav-item active">
								<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
							 </li>
							 <li class="nav-item">
								<a href="about.html" class="nav-link">About</a>
							 </li>
							 <li class="nav-item">
								<a href="gallery.html" class="nav-link ">Gallery</a>
							 </li>
							  <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										Pages
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="codes.html">Codes</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="about.html">About</a>
									</div>
								</li>
							 <li class="nav-item">
								<a href="/contact/" class="nav-link">Contact</a>
							 </li>
						  </ul>
						   <div class="phot3_photile_login">
					<div class="cd-main-header">
						<a class="cd-search-trigger" href="#cd-search"> <span></span></a>
						<!-- cd-header-buttons -->
					</div>
					<div id="cd-search" class="cd-search">
						<form action="#" method="post">
							<input name="Search" type="search" placeholder="Search...">
						</form>
					</div>
				</div>

               </div>
            </nav>				
		</div>
   </div>
         <!-- //Navigation -->
	</div>
	<!-- phot3-banner -->
			<div class="phot3-banner">
				<div id="typer"></div>
					<p class="mx-auto py-3">Kaya Likhte ho Janab, Jara ruko , dekho niche , Padho inko , Aapke liye to Likhi hain..</p><i class="fa fa-arrow-down" style="font-size:48px;color:white"></i>
			</div>
					
		<!-- //phot3-banner -->

	</section>
	</header>
	<!-- //banner -->
	<!-- about -->
	<section class="about-main py-5">
		<div class="container py-md-4 mt-md-3">

			<div class="photree_head_section">
				<h3 class="phot3l_header">Welcome To <span>World of Mine </span></h3>
			</div>
			<div class="row mt-md-5 pt-4">
			<div class="col-md-7 about-grid2">
				<div class="about-subgrid">
					<p>We Provide Best </p>
					<h2>Shayaris</h2>
					
					
					<ul class="phot3l-about-list">
						<li>Love Shayaris</li>
						<li>Sad Shayaris</li>
						<li>Motivation Shayaris</li>
						<li>More to come</li>
						<li>.....!!!!</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 about-grid1">
			</div>
			</div>
		</div>
	</section>
	<!--//about -->
	

	<!--//about -->
			<!-- news -->
	<section class="news py-5">
		
		<div class="container py-md-4 mt-md-3"> 
		
			<div class="photree_head_section">
				<h3 class="phot3l_header">Our <span>Shayris</span></h3>
			</div>
			
			<div class="row inner_phot3l_photile_grids-1 mt-md-5 pt-4">
			{% for p in post %}
			<div class="col-md-4 phot3layouts_news_left_grid1">
				<div class="new_top">
					
					<img src="{{ p.image.url }}" class="card-img-top " alt="image not found"> 
					
					
					
					<h6 class="mb-3">{{ p.created }} </h6>				
					<h3 class="mb-3">{{ p.title }}</h3>
				
					<a href="{% url 'post_detail' p.id p.slug %}" class="btn btn-success" style="float:right;">Go somewhere</a>
					
				</div>
			</div>
			 
			
			{% endfor %}
	</div>
			
		
   </div> 
		
</section>
	
<!-- //news -->



<!--footer -->
<footer>
<section class="footer footer_phot3layouts_section_1its py-5">
	<div class="container py-md-4">
		<div class="row footer-top">
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid_section_1its_phot3">
				<div class="footer-title">
					<h3>About Us</h3>
				</div>
				<div class="footer-text">
					<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at tellus.
						Nulla porttitor accumsana tincidunt. Vestibulum ante ipsum primis tempus convallis.</p>
					<ul class="social_section_1info">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid_section_1its_phot3">
				<div class="footer-title">
					<h3>Contact Info</h3>
				</div>
				<div class="contact-info">
					<h4>Location :</h4>
					<p>0926k 4th block building, king Avenue, New York City.</p>
					<div class="phone">
						<h4>Phone :</h4>
						<p>Phone : +121 098 8907 9987</p>
						<p>Email : <a href="mailto:info@example.com">info@example.com</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid_section_1its_phot3">
				<div class="footer-title">
					<h3>Useful Links</h3>
				</div>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">Login</a></li>
					<li><a href="codes.html">Register</a></li>
					
					<li><a href="contact.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 footer-grid_section_1its_phot3">
				<div class="footer-title">
					<h3>Subscribe</h3>
				</div>
				<div class="footer-text">
					<p>By subscribing to our mailing list you will always get latest news and updates from us.</p><li><a href="#"><i class="fab fa-smile"></i></a></li>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="fa fa-envelope" aria-hidden="true"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
			</div>
		</div>
		<div class="copyright pt-4 mt-4">
			<p>© 2019 Shayari. All Rights Reserved.</p>
		</div>
	</div>
</section>
</footer>
<!-- //footer -->
     <!--js working-->
      <script src="{% static 'blog/js/jquery.min.js' %}"></script>
      <!--//js working-->
	<!-- smooth scrolling -->
	<script type="text/javascript" src="{% static 'blog/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'blog/js/easing.js' %}"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- //smooth scrolling -->

<!-- typer js--><!-- For banner text -->
<script src="{% static 'blog/js/jquery.typer.js' %}"></script>
	<script>
						var win = $(window),
							foo = $('#typer');

						foo.typer(['Sad Shayris', 'Love shayari ', 'Motivation Shayris ']);

						// unneeded...
						win.resize(function(){
							var fontSize = Math.max(Math.min(win.width() / (1 * 10), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY));

							foo.css({
								fontSize: fontSize * .8 + 'px'
							});
						}).resize();
					</script>
<!-- //typer js-->
<!-- //For banner text -->


<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
 <script src="{% static 'blog/js/main.js' %}"></script>
 <!-- Calendar -->
	<script src="{% static 'blog/js/jquery-ui.js' %}"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<!-- //Calendar -->


<!--bootstrap working-->
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
 <!-- //bootstrap working-->
   </body>
</html>