{% extends 'blog/base.html' %}
{% block content %}
	<!-- //banner -->
		<section class="banner_bottom py-5">
		<div class="container py-md-4 mt-md-3"> 
			<div class="photree_head_section">
				<h2 class="phot3l_header">Shayari <span></span></h2>
			</div>
			<div class="inner_sec_info_photree_photile mt-md-5 pt-4">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
					
						<img src="{{ post.image.url }}" alt=" " class="img-fluid" width="400" height="370" >
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<h4>{{ post.title }}</h4>
						<p class="font-weight-bolder">{{ post.body }}</p>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//ab-->
	
	<div class="w-75 p-3">
                     <div class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
                        <h3>Our Recent Comments</h3>
                     </div>
					
                     <div class="comment-list">
						{% for a in comments %}
                        <div class="row">
                           <div class="col-lg-3 col-md-4 col-sm-4 comment-imgs text-center">
						   <style>
							.blur {
							border-radius: 50%;
							}
							</style>	
                              <img src="/media/index.png"  class="blur"  alt="Responsive Image" width="50" height="50">
                           </div>
                           <div class="col-lg-9 col-md-8 col-sm-8 comments-grid-right text-left">
                              <h4>{{ a.content }}</h4>
                              <p class="my-2">by {{   a.user|capfirst }}_{{ a.timestamp }}
                              </p>
                              <ul>
                                 <span><li> <i></i></li></span>
                                <!-- <li><a href="singlepage.html" class="clr-two">Reply</a></li>-->
                              </ul>
                           </div>
						   
                        </div>
						{% endfor %}
                     </div>
					 <br>
					
                     <!--//comments-->
                     <!--comments-form-->
					 <div class="w-75 p-3 shadow-sm p-3 mb-5 bg-white rounded" >
                    
                        <div class="my-3 leave-comment text-left">
                           <h4>Comments Here</h4>
                        </div>
                        <form class="pt-lg-2"  method="post">
                          {% csrf_token %}
                           <div class="form-group contact-forms">
                              <textarea class="form-control" name="content" rows="3" placeholder="Write Your Comment...!"></textarea>
                           </div>
							{% if request.user.is_authenticated %}
                           <button type="submit" class="btn btn-success">Submit</button>
							{% else %}
							<button type="submit" class="btn btn-success" disabled>Submit</button>Login To Comment
							{% endif %}
						</form>
						
                        <!--//comments-form-->
                     </div>
                  </div>
	
	
<!-- stats -->
	<div class="stats">
	<div class="overlay py-5">
		<div class="container py-md-4 mt-md-3">
			<div class="photree_head_section">
				<h3 class="phot3l_header text-white">Our <span class="text-white">Credits</span></h3>
			</div>
			<div class="row inner_phot3l_photile_grids-1 mt-md-5 pt-4">
			<div class="col-md-4 phot3layouts_stats_left phot3_counter_grid">
				<i class="fas fa-image" aria-hidden="true"></i>
				<p>2017</p>
				<h3>Best Shayris of the year</h3>
			</div>
			<div class="col-md-4 phot3layouts_stats_left phot3_counter_grid1">
				<i class="fas fa-smile" aria-hidden="true"></i>
				<p>2018</p>
				<h3>Dil ki Awaaz</h3>
			</div>
			<div class="col-md-4 phot3layouts_stats_left phot3_counter_grid3">
				<i class="fas fa-camera" aria-hidden="true"></i>
				<p>2019</p>
				<h3>Love in Air</h3>
			</div>
	</div>
   </div>
   </div>   
</div>

<!-- //stats -->

	
{% endblock %}